@model Events.Domain.Person

@{
    ViewData["Title"] = "Details";
}

@await Html.PartialAsync("_ViewStrip", "Eraisik")

<div class="container mx-auto">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <p class="py-3 fw-light fs-2">Eraisik</p>
            <dl class="row">
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PersonalCode)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PersonalCode)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PaymentType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PaymentType)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.PersonId">Muuda</a> |
    <a asp-controller="Events" asp-action="Index">Tagasi</a>
</div>
