@using Events.Domain
@model Events.Domain.Event

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<style type="text/css">
    .image-container {
        background-image: url(../../libled.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .text-bg-custom {
        background-color: #205aa0;
        color: #fff !important;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-6 col-md-3 text-bg-custom text-center">
            <p class="fw-light fs-1 my-2">Osavõtjad</p>
        </div>
        <div class="col-md-8 image-container">
        </div>
    </div>
</div>

<div class="container mx-auto">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <p class="py-3 fw-light fs-2">Osavõtjad</p>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model =>  model.EventTitle)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EventTitle)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.EventVenue)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.EventVenue)
                </dd>

                @*@Html.DisplayFor(model => model.Events.EventCompanies)*@
            </dl>
            </div>
        </div>
    </div>

<h1>Create</h1>

<h4>PrivatePerson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePerson">
            <div class="form-group">
                <label name="@ViewBag.FirstName" class="control-label"></label>
                <input name="@ViewBag.FirstName" class="form-control" />
                <span name="@ViewBag.FirstName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input asp-action="CreatePerson" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<label><input id="rdb1" type="radio" name="toggler" value="1" />Eraisik</label>
<label><input id="rdb2" type="radio" name="toggler" value="2" />Ettevõte</label>

<div id="hide-1" style="display:none">
    private form
</div>

<div id="hide-2" style="display:none">
    company form
</div>

    <script>

        $("input:radio").click(function () {
            $("div").hide();
            var div = "#hide-" + $(this).val();
            $(div).show();
        });
    </script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}


