
@model Events.Domain.Event

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

@await Html.PartialAsync("_ViewStrip", "Osavõtjad")

<div class="container mx-auto">
    <div class="row justify-content-md-center">
        <div class="col-md-5">
            <p class="py-3 fw-light fs-2">Osavõtjad</p>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model =>  model.EventTitle)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EventTitle)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt class = "col-sm-4">
                    @Html.DisplayNameFor(model => model.EventVenue)
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.EventVenue)
                </dd>

                <dt class = "col-sm-4">
                    Osavõtjad:
                </dt>
                    <dt class="col-sm-8">

                    </dt>
                    <div class="col-sm-8">
                    </div>

            </dl>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col col-md-5">

        </div>
        <div class="col px-4">
            <table class="table table-borderless px-5">
                <tbody>
                    @foreach (var person in Model.EventPersons)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelPerson => person.Person.PersonId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelPerson => person.Person.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelPerson => person.Person.PersonalCode)
                            </td>
                            <td>
                                <a asp-controller="Persons" asp-action="Details" asp-route-id="@person.PersonId" class="text-decoration-none">VAATA</a>
                            </td>
                            <td>
                                @if (Model.Date > @DateTime.Now)
                                {
                                    <a asp-controller="Persons" asp-action="Delete" asp-route-id="@person.PersonId" class="text-decoration-none">KUSTUTA</a>
                                }
                            </td>
                        </tr>
                    }
                    @foreach (var company in Model.EventCompanies)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelPerson => company.Company.CompanyId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelPerson => company.Company.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelPerson => company.Company.RegistryCode)
                            </td>
                            <td>
                                <a asp-controller="Companies" asp-action="Details" asp-route-id="@company.CompanyId" class="text-decoration-none">VAATA</a>
                            </td>
                            <td>
                                @if (Model.Date > @DateTime.Now) {
                                    <a asp-controller="Companies" asp-action="Delete" asp-route-id="@company.CompanyId" class="text-decoration-none">KUSTUTA</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



 
@if (Model.Date > @DateTime.Now)
{
    <div class="bussines-type container mx-auto">
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <p class="py-3 fw-light fs-2">Osavõtjate lisamine</p>

                <div class="bussines-type">
                    <input id="bt1" type="radio" name="type" checked="checked" value="1">
                    <label for="bt1"> Eraisik</label>
                    <input id="bt2" type="radio" name="type" value="2">
                    <label for="bt2"> Ettevõte</label>

                    <div class="private-fields">
                        @await Component.InvokeAsync("Persons", new { id = Model.EventId })
                    </div>
                    <div class="business-fields">
                        @await Component.InvokeAsync("Companies", new { id = Model.EventId })
                    </div>
                </div>
            </div>
        </div>





    </div>




}




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


