@model IEnumerable<Events.Domain.Event>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <div class="card text-bg-light mb-3">
            <div class="card-header text-center">Tulevased üritused</div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Date > @DateTime.Now)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.EventId" class="text-decoration-none">OSAVÕTJAD</a>
                                        <img src="~/remove.svg" title="" alt="" style="width:16px;height:16px;"/>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-light mb-3">
            <div class="card-header text-center">Toimunud üritused</div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Date < @DateTime.Now) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.EventId" class="text-decoration-none">OSAVÕTJAD</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

